html,
body {
  padding: 0;
  margin: 0;
}

canvas {
  vertical-align: top;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✍️</text></svg>")
      0 30,
    auto;
  background: url("data/bg.png");
  background-size: cover;
}
